app:
  kafka:
    topics:
      user-registered: "${USER_REGISTERED_TOPIC:user-registered-topic}"

spring:
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    consumer:
      group-id: "${KAFKA_CONSUMER_GROUP:email-service-group}"
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
        spring.json.value.default.type: java.lang.String


  mail:
    host: "${SMTP_HOST:smtp.gmail.com}"
    port: "${SMTP_PORT:587}"
    username: "${SMTP_USERNAME:}"
    password: "${SMTP_PASSWORD:}"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000

server:
  port: 8085

logging:
  level:
    org.springframework: INFO
    by.pasha.emailservice: DEBUG